<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Rental ID</th>
        <th>From</th>
        <th>To</th>
        <th>By</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.sort_by{ |element| element['rental_id'] }.each do |booking| %>
        <tr>
          <td>          
            <%= booking['rental_id'] %>          
          </td>
          <td>          
            <%= booking['start_at'][0..9] %>          
          </td>
          <td>          
            <%= booking['end_at'][0..9]%>          
          </td>
          <td>          
            <%= booking['client_email']%>          
          </td>
          <td>
            <%= booking['price']%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>