<% provide(:title, 'Book') %>
<h1>Book!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@booking, url: rental_bookings_path, html: {class: "center"}) do |f| %>
      <div class="row">
      <%= f.label :start_at %>
      <%= f.date_select(:start_at) %>
      <%= f.label :end_at %>
      <%= f.date_select(:end_at) %>
      </div>
      <%= f.label :'e-mail' %>
      <%= f.email_field :client_email, class: 'form-control' %>

      <%= f.submit 'Book me, please!', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render 'bookings/index_booking' %>
