<% provide(:title, 'Add rental') %>
<h1>Add your rental today!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@rental, url: new_rental_path, html: {class: "center"}) do |f| %>
      <%= render 'shared/rental_error_messages' %>

      <%= f.label :rental_name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :daily_rate %>
      <%= f.email_field :daily_rate, class: 'form-control' %>

      <%= f.submit 'Add', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>