<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("triangle2.svg", alt: "triangle", size: '30'),
            root_path, id: "triangle2" %>
    <%= link_to "MBA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Book Now!", new_booking_path %></li>
        <li><%= link_to "Rentals", new_rental_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
    </nav>
  </div>
</header>